<body>
  <ng-template ngIf="allimage.length > 0">
    <div class="container">
      <div *ngFor="let item of allimage; let i = index">
        <div class="content-container">
          <div class="img">
            <img
              src="{{ item.imageURL }}"
              alt="photo"
              width="200px"
              height="300px"
            />
          </div>
          <div class="img-number">
            <h2>{{ score_current[i].point }}</h2>
          </div>
          <div class="img-rank">
            <h2>rank</h2>
          </div>
          <div class="img-name">
            <h2>{{ item.imageName }}</h2>
          </div>
          <div class="img-score">
            <h2>Score {{ item.voteCount }}</h2>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</body>
