<h1>Statistics</h1>
    <div style="display: flex; align-items: center; padding: 10px;">

    </div>
    <div *ngIf="data">
        <div style="display: flex; flex-direction: row; width: 90%; margin-left: 50px; margin-bottom: 50px;">
            <div>
                <img [src]="data.imageURL" alt="image error" class="image"
                    style="width: 200px; height: 200px; object-fit: cover; padding: 20px;">
                <p style="color: black;"> Image Name : {{data.imageName}}</p>
            </div>
            <div class="simple-bar-chart" style="width: 90%;">
                <div *ngFor="let item of chartData"  class="simple-bar-chart item" [style.--clr]="colorgraph()" [style.--val]="item.voteScore">
                    <div class="label" style="color: black;">{{ item.day | date: 'yyyy-MM-dd' }}</div>
                    <p style="margin-left: 45%; color: black;">{{ item.voteDate }}</p>
                    <div class="value" [style.width.%]="item.voteScore"></div> 
                
            </div>
        </div>
    </div> 

